*{
    padding: 0;
    margin: 0; 
    box-sizing: 0;
} 

:root {

    --cor-principal: #4D1A73;  
    --cor-secundaria: #2748A8;



}


header{
    background-color: var(--cor-principal) 
      
} 

.area_navegação{
    width: 99%; 
    height: 10vh;
    display: flex; 
    color: bisque; 
    justify-content: space-between;
    align-items: center;
}


#logo{
    margin-left: 3vw;
    border: 2px solid bisque;
    padding: 20px; 
    border-radius: 50px 25px; 
    
}

.itens{
    display: flex;
    list-style: none; 
    justify-content: space-between;
    gap: 5vH; 
    margin-right: 2vw;
    font-size: 1.2rem;
} 

.itens > li{
    border: 2px solid bisque;
    padding: 10px; 
    border-radius: 50px 25px;
}

.banner{
    width: 99%; 
    height: 50vh; 
    border: 10px solid var(--cor-secundaria); 
    
    
    
}

.sobre{ 
  background-color: var(--cor-principal); 
  width: 99vw;

    
} 

.elementos_sobre{ 
    margin: 0 20vw;
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;  
    gap: 20px; 
    align-items: center; 
    width: 99%; 
    height: 50vh;

    
}  

.elementos_sobre > h2 { 
    color: bisque;
    border: 2px dashed bisque; 
    padding: 50px; 
    width: 30vw;
    font-size: 30px

    
}

.elementos_sobre > img{ 
    height: 40vh; 
    border-radius: 100px; 
    border: 5px dashed bisque;
}

.reserva{
    text-align: center;
    margin: 50px 40vw; 
    background-color: #4D1A73; 
    color: white;  
    height: 25vh; 
    border-radius: 50px 25px;

}  

.pesquisa{
    margin: 0 40vw;
    text-align: center; 
    display: flex; 
    flex-direction: column; 
    gap: 15px; 
    border: 5px solid var(--cor-secundaria); 
    padding: 30px; 
    border-radius: 50px 100px;
    
} 


.informações{
    display: flex; 
    flex-direction: column; 
    gap: 40px;  


.texto_registro{
    margin: 10px;
}

}  

.email , .botão{ 
    margin: 0 40px; 
    padding: 5px;
    border-radius: 10px;
     
    
}

.imagens{
    border-radius: 200px;
    height: 130vh;
    margin: 10px; 
    
    
} 

.planetas{ 
    border: 5px solid var(--cor-secundaria);
    margin: 5vh;
    display: flex; 
    flex-wrap: wrap; 
    align-content: center;
    justify-content: space-evenly; 
} 

.planetas > div > img { 
    margin: 10px;
    width: 30vw;
    height: 30vh; 
    border: solid black; 
    align-items: center; 
    border-radius: 100px 50px;
}  

.planetas > div > p{
    margin: 10px;
    text-align: center; 
    font-size: 5vh; 
    border: 5px solid var(--cor-principal); 
    margin: 0 10vw; 
    margin-bottom: 2vh; 
    border-radius: 100px 50px;
} 

.planetas > div > p:hover{ 
    background-color: black;
    color: white; 
}

